extends includes/layout

block main-content
    .nav.navbar-inverse.navbar-fixed-top
        .container
            .navbar-header
                a.navbar-brand(href="#/") WebFlow
            .navbar-collapse.collapse
                ul.nav.navbar-nav
                    li
                        a(href="/") Home

    section.container
        div(ng-view)

    footer
        p.text-center &copy; WebFlow 2014